<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 i18n>User List Page</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button mat-button>
      <span i18n>Create User</span>
    </button>
    <br />
    <br />
    <mat-table [dataSource]="(userData$ | async)">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef
                         i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef
                         i18n>Email</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef
                         i18n>Type of User</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.type}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
